*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

:root{
    --bg-color: #0c0c0c;
    --text-color: #fff;
    --main-color: #c74d19;
    --big-font: 6.6rem;
    --p-font: 1rem;
}
*{
    font-family: "Roboto", sans-serif;
}

body{
    font-family: "Roboto", sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    font-family: "Roboto", sans-serif;
    position: fixed;
    width: 110%;
    top: -5%;
    right: 0;
    z-index: 1000;
    padding: 35px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

.logo img{
    width: 100%;
    height: auto;
}

.navlist{
    display: flex;
}

.navlist a{
    display: inline-block;
    margin: 0 35px;
    color: var(--text-color);
    font-size: var(--p-font);
    transition: all .6s ease;
}

.navlist a:hover{
    color: var(--main-color);
}

.right-content{
    display: flex;
    align-items: center;
}

.nav-btn{
    display: inline-block;
    padding: 9px 24px;
    background: transparent;
    border: 2px solid var(--text-color);
    border-radius: 7px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
}

.nav-btn:hover{
    transform: translateY(-5px);
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

#menu{
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

h1{
    color: #fff;
    text-align: justify;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
}

p{
    color: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

table{
    margin-left: 50px;
    margin-right: 50px;
    color: #fff;
    text-align: center;
    border: 5px solid rgb(255, 255, 255);
}

table th, table td {
    border: 1px solid #fff;
    padding: 10px;
}

ul{
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

ol{
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.logo {
    font-size: 30px;
    color: #ffffff;
    display: inline-block;
    margin-right: auto;
  }
  
  .logo img {
    max-height: 40px;
    max-width: 150px;
    filter: invert(1);
    align-content: left;
    margin-right: 90px;
  }
  
  .menu-nav {
    background-color: black; 
    color: white; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    padding: 10px 0; 
    z-index: 1000;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50px;
  }
  
  .menu-nav a {
    color: white; 
    text-decoration: none; 
    margin: 0 20px; 
    font-weight: 500;
  }
  
  .menu-nav a:hover {
    color: #4070F4;
  }
  
  h1{
    padding-top: 100px;
  }
  
  @media (max-width: 768px) {
    nav.menu-nav {
      align-items: flex-start; 
      padding: 5px; 
    }
  
    nav.menu-nav a {
      font-size: 10px; 
      padding: 5px; 
    }
    .logo {
      width: 30%; 
      margin: 0 auto;
    }
  }

footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}

footer .social_icon, 
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

  footer .social_icon li,
  footer .menu li{
 list-style: none;
  }

  footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display:inline-block;
    transition: 0.5s;
  }

  footer .social_icon li a:hover{
    transform: translateY(-10px);
  }

  footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display:inline-block;
    text-decoration: none;
    opacity: 0.75;
  }

  footer .menu li a:hover{
    opacity: 1;
  }

  footer p{
    color:#fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
  }

  footer .wave{
  position: absolute;
  top:-100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(imagenes/wave.png);
   background-size: 1000px 100px;
  }

  footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom:0;
    animation: animateWave 4s linear infinite;
  }
  footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom:10px;
    animation: animateWave_02 4s linear infinite;
  }
  footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom:15px;
    animation: animateWave 3s linear infinite;
  }
  footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom:20px;
    animation: animateWave_02 3s linear infinite;
  }

  @keyframes animateWave{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
  }
  @keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
  }
